
@{
    ViewData["Title"] = "Info";
}

<div class="text-center">
    <h1 class="display-4">List</h1>
</div>
    <ul>
        @for (int i = 0; i < 3; i++)
        {
            <li>List item @i</li>
        }
    </ul>

